<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.my.CategoryMapper">

    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.my.Category">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="is_root" jdbcType="BOOLEAN" property="isRoot"/>
        <result column="online" jdbcType="BOOLEAN" property="online"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="idx" jdbcType="INTEGER" property="idx"/>
        <result column="grid_img" jdbcType="VARCHAR" property="gridImg"/>
        <result column="grid_online" jdbcType="BOOLEAN" property="gridOnline"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>

    <!--&lt;!&ndash;分类及所属子分类的Map&ndash;&gt;-->
    <!--<resultMap id="categoryResultMap" type="io.github.talelin.latticy.bo.my.CategoryNameBO">-->
        <!--<result column="root_category" property="rootCategory"></result>-->
        <!--<collection property="childrenCategory" ofType="java.lang.String">-->
            <!--<constructor>-->
                <!--<arg column="directly_category"></arg>-->
            <!--</constructor>-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--&lt;!&ndash;查询分类以及所属子分类,自连接查询&ndash;&gt;-->
    <!--<select id="searchCategoryAndChildren" resultMap="categoryResultMap">-->
        <!--select c.name as root_category, cc.name as directly_category-->
        <!--from category c-->
        <!--left join category cc on c.id = cc.parent_id-->
        <!--where c.id = #{rootCategoryId}-->
    <!--</select>-->

    <!-- 分页查询一级分类-->
    <select id="searchAllOneLevelCategories" resultMap="BaseResultMap">
      select id, `name`, description, online, is_root, img, `level`,create_time
      from category
      where is_root = 1 and delete_time is null
      limit #{page}, #{size}
    </select>

    <!--获取一级分类的数量-->
    <select id="getOneLevelCategoryCount" resultType="java.lang.Integer">
        select count(*)
        from category
        where is_root = 1 and delete_time is null
    </select>

    <!--根据id查询分类明细-->
    <select id="getCategoryDetailById" resultMap="BaseResultMap">
        select id, `name`, description, online, img, is_root, `level`, parent_id
        from category c
        where id = #{id}  and delete_time is null
    </select>

    <!--根据父级id,获取父级分类名称-->
    <select id="searchNameByParentId" resultType="java.lang.String">
        select `name`
        from category c
        where id = #{parentId} and delete_time is null
    </select>

    <!--根据父级分类id，查询所属二级分类数据，分页查询-->
    <select id="searchTwoLevelByParentId" resultMap="BaseResultMap">
        select id, `name`, description, online, img, `level`, is_root, parent_id, create_time
        from category
        where parent_id = #{parentId} and delete_time is null
        limit #{startCount}, #{size}
    </select>

    <!--获取指定商品一级分类的二级分类总数量-->
    <select id="getTwoLevelCategoryCount" resultType="java.lang.Integer">
        select count(*)
        from category
        where `level` = 2 and parent_id = #{parentId} and delete_time is null
    </select>

    <!--逻辑删除商品分类数据-->
    <update id="logicalDeleteById">
        update category
        set delete_time = #{currTime}
        where id = #{id}
    </update>

    <!--获取六宫格数据-->
    <select id="searchGrid" resultMap="BaseResultMap">
        select id, `name`, online, idx, create_time, grid_img, is_grid, grid_online
        from category
        where is_grid = 1 and is_root = 1 and delete_time is null
    </select>

    <!--根据 id,获取指定六宫格数据-->
    <select id="searchGridById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, `name`, grid_online, idx, create_time, grid_img, is_grid
        from category
        where is_grid = 1 and is_root = 1 and id = #{id} and delete_time is null
    </select>

    <!--将指定分类从六宫格中剔除掉-->
    <update id="removeCategryFromGrid">
        update category
        set is_grid = 0
        where id = #{categoryId} and is_root = 1
    </update>

    <!--将指定分类加入到六宫格中-->
    <update id="addCategryToGrid">
        update category
        set is_grid = 1
        where id = #{categoryId} and is_root = 1
    </update>

    <!--查询六宫格内，当前拥有商品分类的数量-->
    <select id="searchCategoryCountFromGrid" resultType="java.lang.Integer">
        select count(*)
        from category
        where is_root = 1 and is_grid = 1 and delete_time is null
    </select>
    <!--根据分类 id 逻辑删除指定六宫格-->
    <update id="removeGridById">
        update category
        set idx = 0, is_grid = 0, grid_online = 0
        where id = #{id} and is_root = 1
    </update>


</mapper>